{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template local_esupervision/grades

TODO describe template projects

Example context (json):
{
    grades: {
        id: 1,
        studentname: "John Doe",
        title: "Project title",
        attendance: 10,
        punctuality: 10,
        quality_of_work: 10,
        attitude_to_work: 10,
        resourcefulness: 10,
        total: 100,
    }
}
}}
{{#issupervisor}}
<table class="table">
    <caption class="text-center">
        Students' grades
    </caption>
    <tbody>
        <tr>
            <th>SN</th>
            <th>Student Name</th>
            <th>Project Title</th>
            <th>Attendance</th>
            <th>Punctuality</th>
            <th>Quality of work</th>
            <th>Attitude to work</th>
            <th>Resourcesfullnes</th>
            <th>Total Score</th>
            <th>Grade</th>
        </tr>
        {{#grades}}
        <tr>
            <td>{{ id }}</td>
            <td>{{ studentname }}</td>
            <td>{{ title }}</td>
            <td>{{ attendance}}</td>
            <td>{{ punctuality }}</td>
            <td>{{ quality_of_work }}</td>
            <td>{{ attitude_to_work }}</td>
            <td>{{ resourcefulness }}</td>
            <td>{{ total }}</td>
            <td>{{ grade }}</td>
            <td>
                <button class="btn"><a href="?action=view&id={{ id }}">view</a></button>
            </td>
        </tr>
        {{/grades}}
    </tbody>
</table>
{{/issupervisor}}

{{^issupervisor}}
<div class="container">
    <h4 class="mt-5">Submissions</h4>
    <div class="row">
        {{#grades}}
        <div class="col-3 card mx-3">
            <div class="card-body">
                <div class="card-text my-2"><span style="font-weight: bold;">Title: </span> {{ title }}</div>
                <div class="card-text"><span style="font-weight: bold;">Description: </span> {{ description }}</div>
                <small class="card-text"><span style="font-weight: bold;">timecreated: </span>
                    {{timecreated}}</small><br>
                <small class="card-text"><span style="font-weight: bold;">timemodified: </span>
                    {{timemodified}}</small><br>
                <a href="{{url}}">download report</a>
                <div class="text-right">
                    <a href="?action=edit&id={{ id }}" class="btn"><img src="../assets/edit.png"></a>
                    <a href="?action=delete&id={{ id }}" class="btn"><img src="../assets/delete.png"></a>
                </div>
            </div>
            {{#comments}}
            <div>Supervisor's comment: {{comment}}</div>
            {{/comments}}
        </div>
        {{/grades}}
    </div>
</div>
{{/issupervisor}}

{{#viewreport}}
<div class="container">
    <h4 class="mt-5">Report details</h4>
    {{#report}}
    <div class="card mb-5 w-50">
        <div class="card-body">
            <div class="card-title"><span style="font-weight: bold;">Title:</span> {{ title }}</div>
            <div class="card-text">Description: {{ description }}</div>
            <div class="card-text">Student name: {{ studentname }}</div>
            <small class="card-text">Last modified: {{timemodified}}</small><br>
            <a href="{{url}}">download report</a>
            <div class="text-center mt-3">
                <a href="?action=approve&id={{ id }}" class="btn btn-outline-primary mx-3">Approve report</a>
                <a href="?action=reject&id={{ id }}" class="btn btn-outline-danger mx-3">Reject report</a>
            </div>
        </div>
        {{/report}}
    </div>
    {{/viewreport}}