{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_esupervision/proposals

    TODO describe template proposals

    Example context (json):{{!
    This file is part of Moodle - http://moodle.org/
    
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with Moodle. If not, see
    <http: //www.gnu.org/licenses />.
    
    TODO describe template projects
    
    Example context (json):
    {
    }
}}
    {{#issupervisor}}
    <table class="table">
        <caption class="text-center">
            Submitted Proposals
        </caption>
        <tbody>
            <tr>
                <th>SN</th>
                <th>Student Name</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {{#proposals}}
            <tr>
                <td>{{ id }}</td>
                <td>{{ studentname }}</td>
                <td>{{ title }}</td>
                <td>{{ description }}</td>
                <td>{{ status }}</td>
                <td>
                    <button class="btn"><a href="?action=view&id={{ id }}">view</a></button>
                </td>
            </tr>
            {{/proposals}}
        </tbody>
    </table>
    {{/issupervisor}}
    
    {{^issupervisor}}
    <div class="container">
        <h4 class="mt-5">Submissions</h4>
        <div class="row">
            {{#proposals}}
            <div class="max-auto card m-3">
                <div class="card-body">
                    <div class="card-text my-2"><span style="font-weight: bold;">Title: </span> {{ title }}</div>
                    <div class="card-text"><span style="font-weight: bold;">Description: </span> {{ description }}</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">timecreated:  <span class="badge badge-secondary"> {{timecreated}}</span></li>
                        <li class="list-group-item">timemodified:  <span class="badge badge-secondary">{{timemodified}}</span></li>
                    </ul>
                    <a href="{{url}}">download report</a>
                    <div class="text-right">
                        <a href="?action=edit&id={{ id }}" class="btn"><img src="../assets/edit.png"></a>
                        <a href="?action=delete&id={{ id }}" class="btn"><img src="../assets/delete.png"></a>
                    </div>
                </div>
                {{#comments}}
                <div><span style="font-weight: bold;">Supervisor's comment:</span> {{comment}}</div>
                {{/comments}}
            </div>
            {{/proposals}}
        </div>
    </div>
    {{/issupervisor}}
    
    {{#viewproposal}}
    <div class="container">
        <h4 class="mt-5">Proposal details</h4>
        <div class="rol">
            {{#proposal}}
            <div class="card mb-3 col-5">
                    <div class="card-header border-0"><span style="font-weight: bold;">Title:</span> {{ title }}</div>
                    <div class="card-text my-2"><span style="font-weight: bold;">Description</span> {{ description }}</div>
                    <div class="card-text my-2"><span style="font-weight: bold;">Student name:</span>  {{ studentname }}</div>
                    <small class="card-text my-2"><span style="font-weight: bold;">Time created:</span> {{timecreated}}</small>
                    <small class="card-text my-2"><span style="font-weight: bold;">Last modified:</span>  {{timemodified}}</small>
                    <a href="{{url}}" class="my-2">Download proposal</a>
                    <div class="card-footer text-center border-0">
                        <a href="?action=approve&id={{ id }}" class="btn btn-outline-primary mx-2">Approve proposal</a>
                        <a href="?action=reject&id={{ id }}" class="btn btn-outline-danger mx-2">Reject proposal</a>
                    </div>
            </div>
            {{/proposal}}
        </div>
    </div>
    {{/viewproposal}}
