{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template local_esupervision/projects

TODO describe template projects

Example context (json):
{
}
}}
{{#issupervisor}}
<table class="table">
    <caption class="text-center">
        Submitted projects
    </caption>
    <tbody>
        <tr>
            <th>SN</th>
            <th>Student Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {{#reports}}
        <tr>
            <td>{{ id }}</td>
            <td>{{ studentname }}</td>
            <td>{{ title }}</td>
            <td>{{ description }}</td>
            <td>{{ status }}</td>
            <td>
                <button class="btn"><a href="?action=view&id={{ id }}">view</a></button>
            </td>
        </tr>
        {{/reports}}
    </tbody>
</table>
{{/issupervisor}}

{{^issupervisor}}
<div class="container">
    <h4 class="mt-5">Submissions</h4>
    <div class="row">
        {{#reports}}
               <div class="max-auto card m-3">
                <div class="card-header my-2"><strong>Title: </strong> {{ title }}</div>
                <div class="card-body">
                    <div class="card-text mb-2"><strong>Description: </strong> {{ description }}</div>
                    <small>timecreated:  <span class="badge badge-secondary"> {{timecreated}}</span></small><br>
                    <small>timemodified:  <span class="badge badge-secondary">{{timemodified}}</span></small><br>
                    <div class="my-2"><a href="{{url}}">download report</a></div>
                {{#comments}}
                <div class="card my-2">
                <div class="card-header"><strong>Supervisor's comment:</strong></div>
                 <div class="card-text px-2">{{comment}} <span class="badge badge-secondary">{{timecreated}}</span></div>
                </div>
                {{/comments}}
                </div>
                <div class="card-footer text-center">
                    <a href="?action=edit&id={{ id }}" class="btn mx-3"><img src="assets/edit.png"></a>
                    <a href="?action=delete&id={{ id }}" class="btn mx-3"><img src="assets/delete.png"></a>
                </div>
            </div>
        {{/reports}}
    </div>
</div>
{{/issupervisor}}

{{#viewreport}}
<div class="container">
    <h4 class="mt-5">Report details</h4>
    {{#report}}
    <div class="card mb-3 col-5">
        <div class="card-header border-0"><strong>Title:</strong> {{ title }}</div>
        <div class="card-body">
            <div class="card-text my-2"><strong>Description</strong> {{ description }}</div>
            <div class="card-text my-2"><strong>Student name:</strong>  {{ studentname }}</div>
            <div><a href="{{url}}" class="my-3">Download proposal</a></div>
            <small class="card-text my-2">Time created: <span class="badge badge-secondary">{{timecreated}}</span></small><br>
            <small class="card-text my-2">Last modified:  <span class="badge badge-secondary">{{timemodified}}</span></small><br>
            {{#comments}}
            <div class="card mt-2">
            <div class="card-header"><strong>Comments:</strong></div>
            <div class="card-text px-2">* {{comment}} <span class="badge badge-secondary ms-3">{{timecreated}}</span>
                <a href="?action=editcomment&id={{ id }}" class="btn mx-3"><img src="assets/edit.png"></a>
                <a href="?action=deletecomment&id={{ id }}" class="btn mx-3"><img src="assets/delete.png"></a>
            </div>
            </div>
            {{/comments}}
        </div>
        <div class="card-footer text-center border-0">
            <a href="?action=approve&id={{ id }}" class="btn btn-outline-primary mx-2">Approve</a>
            <a href="?action=reject&id={{ id }}" class="btn btn-outline-danger mx-2">Reject</a>
        </div>
    </div>
    {{/report}}
    </div>
    {{/viewreport}}