{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template esupervision/project_list

    Container to display supervisor dashboard

    Example context (json):
    {
        "id": "PROJ-001",
        "project name": "Water management system",
        "project description": "A research work on the various water management systems in Nigeria",
        "project supervisor": "Dr. Kate",
        "Project status": "pending"
    }
}}
<div class="container-fluid bg-secondary">
<h1 class="text-center">Welcome, {{supervisor_name}}!</h1>
<div class='row bg-secondary'>
<div class='col-2'>
    <ul class="nav flex-column">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Project List</a>
        </li>
    </ul>
</div>
<div class="col-10 bg-white">
<table class="table">
    <tbody>
        <tr>
            <th>SN</th>
            <th>Student Name</th>
            <th>Project Title</th>
            <th>Description</th>
            <th>Project Status</th>
        </tr>
    {{#assignedStudent}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{project}}</td>
            <td>{{status}}</td>
        </tr>
    {{/assignedStudent}}
    </tbody>
</table>
</div>
</div>
</div>